{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="hero-section" class="container">
    <div class="row h-100">
        <div class="col-12 d-flex flex-wrap align-items-center justify-content-center">
            <div class="d-flex align-items-center ncc-logo-dec">
                <i class="fas fa-palette m-4"></i>
            </div>
        </div>
        <div class="col-12 text-center">
            <h1 class="">GALLERY FIVE</h1>
        </div>
    </div>
</div>

<div id="aboutus-section" class="container-fluid">
    <div class="row h-50">
        <div class="col-12 offset-lg-2 col-lg-4 d-flex flex-wrap align-items-center justify-content-center">
            <img class="img-fluid d-flex align-items-center" src="{{ MEDIA_URL }}tina-floersch-CcbnSarTldQ-unsplash.jpg" alt="image of children doing art work">
        </div>
        <div class="col-12 col-lg-4 p-3 text-center d-flex flex-wrap align-items-center justify-content-center">
            <div class="">
                <h2 class="">ABOUT US</h2>
                <p>We are Gallery Five. Since the start of the pandemic, it has been extremely difficult to everyone in the world to continue with their basic importnat needs such as eating, paying bills. Now that we are slowly recovering, it is still difficult to get back to normal life as finances and new regulations are preventing us form going back. This is especially in poorer countries. 
                    <br>
                We are a charity selling donated art works to help fund people that are struggling to fund theri artistic dreams. 30% of oevery sold art piece goes to those in need whilst the rest goes to the artist themself. Enjoy browsing through our collection and have joy and satisfaction knowing that your moeny willbe going to a good deed</p>
                <a href="{% url 'products' %}" class="btn ncc-btn-base text-capitalize" aria-label="go to the products page">browse</a>
            </div>
            
        </div>
    </div>
</div>

<!-- CONTACT US -->
<div id="contactus" class="container-fluid ncc-contactus-dec">
    <div class="row p-4">
        <div class="col-12 offset-lg-2 col-lg-4">
            <h3 class="text-uppercase text-center">get in touch</h3>
            <ul class="list-group">
                <li class="list-group-item">Contact number: 0208 375 2784</li>
                <li class="list-group-item">Address: 24 Tall House, Good Road, London, WC1 5TR</li>
              </ul>
        </div>
        <div class="col-12 col-lg-4 p-3">
            <form method="POST" class="site-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div>
                    <button type="submit" class="btn ncc-btn-base text-capitalize" aria-label="send your message">send</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}