{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
                <h2 class="mb-4 text-center text-uppercase">your profile - <strong>{{ profile }}</strong></h2>
            <hr>
        </div>
    </div>

    <div class="row m-4">
        <div class="col text-center">
            <a href="{% url 'update_profile' %}" class="btn ncc-btn-base m-1">Update profile</a>  
            {% if request.user.is_superuser %}
            <a href="{% url 'requested_blogs' %}" class="btn ncc-btn-base m-1">Requested blog posts</a>
            <a class="btn ncc-btn-base m-1" href="{% url 'add_product' %}">Add product</a> 
            {% endif %}
        </div>
    </div>

    <div class="row">
        <!-- BASIC USER INFORMATION ON SHOW -->
        <div class="col col-lg-6">
            <h4 class="text-capitalize">your information</h4>
            <hr>
            <div>
                <ul class="list-group mb-2">
                    <li class="list-group-item">
                        <p><strong class="text-uppercase">name: </strong>{{ profile }}</p>
                    </li>
                    <li class="list-group-item">
                        <p><strong class="text-uppercase">full address: </strong>{{profile.default_street_address1}},
                            {{profile.default_street_address2}}, {{profile.default_country}},
                            {{profile.default_town_or_city}}, {{profile.default_county}}, {{profile.default_postcode}}</p>
                    </li>
                    <li class="list-group-item">
                        <p><strong class="text-uppercase">contact number: </strong>{{ profile.default_phone_number }}</p>
                    </li>
                    
                </ul>
                 
            </div>
            
        </div>
        

        <!-- ORDER HISTORY -->
        <div class="col col-lg-6 mt-3">
            <h4 class="text-capitalize">order history</h4>
            <hr>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                    title="{{ order.order_number }}">
                                        {{ order.order_number|truncatechars:6 }}
                                    </a>
                                </td>
                                <td>{{ order.date }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                            <li class="small">
                                                {{ item.product.name }} x{{ item.quantity }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>${{ order.grand_total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}