{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
                <h2 class="mb-4 text-center text-uppercase">update profile</h2>
            <hr>
        </div>
    </div>
    

    <div class="row">
        <div class="col col-lg-6 text-center">
            <h4>Your delivery information</h4>
            <form action="{% url 'update_profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <div>
                    <button type="submit" class="btn ncc-btn-base text-capitalize">change</button>
                    <a href="{% url 'profile' %} " class="btn ncc-btn-base text-capitalize">cancel</a>
                </div>
                
            </form>
        </div>
    </div>
        
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}