<nav class="navbar navbar-expand-lg ncc-navbar-dec">
    <div class="container">
    <a class="navbar-brand" href="#">
        <div href="" class="ncc-logo-dec">
            <i class="fas fa-palette m-2 display-5"></i>
        </div>
    </a>
    <!-- Navbar icon for screen sizes less than lg -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'products' %}">All</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Paintings
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">water colour</a></li>
                <li><a class="dropdown-item" href="#">acrylic</a></li>
                <li><a class="dropdown-item" href="#">oil</a></li>
                <li><a class="dropdown-item" href="#">tempera</a></li>
                </ul>
                
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Graphics
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">digital</a></li>
                    <li><a class="dropdown-item" href="#">handmade</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Sculptures
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">clay</a></li>
                    <li><a class="dropdown-item" href="#">stone</a></li>
                    <li><a class="dropdown-item" href="#">wood</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Get in touch</a>
            </li>
            <form class="d-flex" method="GET" action="{% url 'products' %}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="find">
                <button class="btn ncc-btn-search" type="submit">Search</button>
            </form>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Crate</a>
            </li>
        </ul>
    </div>
    </div>
</nav>