{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row mb-4">
        <div class="col">
            <hr>
                <h2 class="mb-4 text-center text-uppercase">create a blog</h2>
            <hr>
        </div>
    </div>
    <div class="row pb-4">
        <div class="col offset-md-2 col-md-8 offset-lg-3 col-lg-6">
            <form action="{% url 'create_blog' %}" method="POST" class="site-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div>
                    <a href="{% url 'view_blogs' %}" class="btn ncc-btn-base" aria-label="go back to the blogs page">cancel</a>
                    <button type="submit" class="btn ncc-btn-base" aria-label="post the entries in the form to the database">post</button>
                </div>
            </form>
        </div>   
    </div> 
</div>
{% endblock %}