{% extends "account/base.html" %}

{% load i18n %}

<!-- TITLE OF PAGE -->
{% block inner_head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="btn ncc-btn-base">{% trans 'Sign Out' %}</button>
  <a href="{% url 'profile' %}" class="btn ncc-btn-base">Return</a>
</form>


{% endblock %}
