{% extends "account/base.html" %}

{% load i18n %}

<!-- TITLE OF PAGE -->
{% block inner_head_title %}{% trans "Set Password" %}{% endblock %}

<!-- MAIN CONENT OF PAGE -->
{% block inner_content %}
<div class="row">
    <div class="offset-3 col-6">
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
        </form>
    </div>
</div>

    
{% endblock %}
