<div class="row mt-4 mb-4">
    <div class="offset-3 col-6">
        <h3 class="text-center">Reviews</h3>
    </div>
</div>

{% if reviews|length == 0 %}
<p class="text-center">There are no reviews for this art work</p>
{% else %}
<p class="text-center">{{ reviews|length }} people have reviewed this</p>
{% endif %}

<div class="row">
    <div class="col offset-md-2 col-md-8 offset-lg-3 col-lg-6">
        {% for review in reviews %}
        <div class="">
            <h5>{{ review.title }}</h5>
            <i>{{ review.auther }} ({{ review.date }})</i>
            <p>{{ review.review }}</p>
            {% if request.user.is_superuser or user == review.auther%}
            <a href="{% url 'remove_review' review.id %}" class="btn ncc-btn-base" aria-label="delete your review">delete</a>
            {% endif %}
            <hr>
        </div>
        {% endfor %}
    </div>
</div>

{% if ordered or request.user.is_superuser %}
<div class="row mt-3">
    <div class="col offset-md-2 col-md-8">
        <div class=" mb-4">
            <h4>Write a review</h4>
            
            <form action="{% url 'product_detail' product.id %}" method="POST" class="site-form mt-3" enctype="">
                {% csrf_token %}
                {{ form | crispy }}
                <div>
                    <button type="submit" class="btn ncc-btn-base" aria-label="submit your review">post</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
