<div class="row">
    <div class="offset-3 col-6">
        <h3 class="text-center">Reviews</h3>
    </div>
</div>

<div class="row">
    <div class="offset-3 col-6 ">
        {% for review in reviews %}
        <div class="">
            <h5>{{ review.title }}</h5>
            <i>{{ review.auther }} ({{ review.date }})</i>
            <p>{{ review.review }}</p>
            {% if request.user.is_superuser %}
            <a href="{% url 'remove_review' review.id %}" class="btn ncc-btn-base">delete</a>
            {% endif %}
            <hr>
        </div>
        {% endfor %}
    </div>
</div>

{% if ordered %}
<div class="row">
    <div class="offset-3 col-6">
        <div class=" mb-5">
            <h5>Write a review</h5>
            
            <form action="{% url 'product_detail' product.id %}" method="POST" class="site-form" enctype="">
                {% csrf_token %}
                {{ form | crispy }}
                <div>
                    <a href="" class="btn ncc-btn-base">cancel</a>
                    <button type="submit" class="btn ncc-btn-base">post</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
