{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="">
            <hr>
                <h2 class="mb-4 text-center text-uppercase">add product</h2>
            <hr>
        </div>
    </div>

    <div class="row ">
        <div class="offset-3 col-6">
            <form action="{% url 'add_product' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div>
                    <a href="{% url 'products' %}" class="btn ncc-btn-base">cancel</a>
                    <button type="submit" class="btn ncc-btn-base">add</button>
                </div>
            </form>
            
        </div>   
        
    </div>
</div>
{% endblock %}
